body {
  font-family: 'Merriweather Sans', sans-serif;
  margin: 0;
  text-align: center;
}

h1, h2, h3, h4, h5 {
  font-family: 'Merriweather';
  font-weight: 400;
}

/* ID section */
#title {
  background-color: orange;
}

.body{
  padding-top: 9%;
}

/* Headings */
.title-heading {
  color: #900c3f;
  font-family: 'IM Fell Great Primer', serif;
  font-size: 3.7rem;
  line-height: 1.5;
  padding: 3% 5%;
}

.title-description {
  color: #fbe6d4;
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 1.1rem;
  font-weight: 300;
  line-height: 1.9rem;
  padding: 2% 2%;
}

.title-image {
  padding: 2% 3%;
}

/* Container  */
.container-fluid {
  padding: 2% 10%;
}

/* Navigation Bar */
 @media(max-width:1170px) {
  .nav-link{
    font-size: 1rem;
  }
}
.navbar {
  background-color: orange;
  width: 100%;
}

.nav-item {
  padding: 0 0.5em 0;
}

.nav-link {
  color: #900c3f;
  font-family: 'IM Fell Great Primer', serif;
  font-size: 1.3rem;
  font-weight: 100;
  margin-left: 5px;
}

.nav-link:hover {
  color: #fbe6d4;
}

/* Information bar */
.information-sec {
  background-color: #4a3f35;
  color: #fff;
  padding-bottom: 1%;
  position: relative;
}

/* Order and Card Section */
.card-image {
  align-self: center;
  max-height: 200px;
  max-width: 300px;
  padding: 5% 5%;
}

.card {
  margin: 3% 3%;
  text-align: center;
}

/* Order Section */
#order {
  background-color: #f4f4f4;
  padding-top: 3%;
}

/* About us and Partners section */
#aboutUs {
  background-color: #f0a500;
  padding: 2% 15%;
}

.abtUs-header {
  color: #900c3f;
  font-family: 'IM Fell Great Primer', serif;
  font-size: 3.5rem;
  line-height: 1.2;
  padding: 2% 5%;
}

.abtUs-text {
  color: #fff;
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 1.1rem;
  font-weight: 300;
  line-height: 1.9rem;
  padding: 2% 2%;
}

.DeliveryPartners {
  background-color: #4a3f35;
  color: #fbe6d4;
  padding-bottom: 1%;
  position: relative;
}

/* Footer */
#footer {
  background-color: #4a3f35;
  color: white;
}

.socfoot {
  color: white;
  padding: 5% 5%;
}

.socFoot:hover {
  color: gold;
}

.textSocial {
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 1.1rem;
  font-weight: 300;
  line-height: 1.9rem;
}

#map {
  height: 400px;
  width: 100%;
}

.map-text {
  font-family: 'IM Fell Great Primer', serif;
  font-size: 1.3rem;
  font-weight: 100;
  text-align: left;
}

/* Media Query for cellphone size */
@media screen and (max-width: 760px) {
  .title-image {
    width: 85%;
  }

  .title-heading {
    font-size: 3.1rem;
    line-height: 1.2;
    padding: 3% 5%;
  }

  .information-sec {
    font-size: 0.9rem;
    line-height: 1.2;
  }

  .top-level-menu {
    font-size: 1.1rem;
    line-height: 1.2;
  }

  .container-fluid.top-level-menu {
    padding: 3% 17%;
  }

  .card-image {
    align-self: center;
    padding: 3% 3%;
  }

  .deliv-title {
    font-size: 1.5rem;
    line-height: 1.2;
  }

  .partner-text {
    font-size: 1.1rem;
    line-height: 1.2;
  }

  .abtUs-header{
    font-size: 3.2rem;
    line-height: 1.2;
  }
  .abtUs-text{
    font-size: 1.0rem;
    line-height: 1.2;
  }
}

/* Cart Hover Effect  */
/* Glow */
.hvr-glow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
}

.hvr-glow:hover, .hvr-glow:focus, .hvr-glow:active {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}
